.projects {
  background: #000000;
  padding: 50px 0;
}

.projects-title {
  color: #ffffff;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.projects-card-container {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.projects-card {
  width: 45%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.projects-card-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.projects-card-img-prev {
  object-fit: contain;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.projects-button-live,
.projects-button-git {
  height: 30px;
  width: 100px;
  position: absolute;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 16px;
  transition: all 0.5s;
  opacity: 0;
  transform: translateY(100%);
}

.projects-button-live {
  bottom: 30px;
  left: 30px;
}

.projects-button-git {
  bottom: 30px;
  right: 30px;
}

.projects-button-live:hover,
.projects-button-git:hover {
  background: #ffffff;
  color: #000000;
}

.projects-card:hover {
  .projects-button-live,
  .projects-button-git {
    opacity: 1;
    transform: translateY(0%);
  }

  .projects-card-img {
    opacity: 0;
  }

  .projects-card-img-prev {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .projects-card-container {
    flex-direction: column;
    align-items: center;
  }

  .projects-card {
    width: 50%;
  }
}
