.nav {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0);
  display: flex;
  justify-content: space-between;
}

.navbar-link {
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.navbar-link:hover {
  color: #d0ee0f;
}

a {
  text-decoration: none;
}

.logo {
  position: absolute;
  color: white;
  white-space: nowrap;
  left: 10%;
  line-height: 60px;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: black;
  width: 20vw;
  height: 100vh;
  justify-content: center;
}

.nav-menu-item {
  font-size: 2em;
  padding: 2%;
}

.nav-toggle {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  right: 10%;
  top: 15%;
  color: black;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button {
  background-color: white;
  color: #01000a;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  height: 40px;
  width: 10vw;
  transition: 0.5s;
}

.nav-button:hover {
  background-color: #d0ee0f;
  color: white;
}

.off {
  display: none;
}

@media (max-width: 768px) {
  .nav-menu {
    flex-direction: row;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 40px;
    align-items: center;
    padding: 0;
  }
  .nav-menu-item {
    font-size: 1.2rem;
  }
  .nav-button {
    height: 20px;
    width: 20vw;
    font-size: 1rem;
    padding: 0;
  }
}
