.about-body {
  background-color: black;
  height: 50vh;
}

.body-content {
  color: white;
}

.social-icon {
  height: 60px;
  width: 60px;
  margin: 0px 10px;
  transition: 0.5s;
  filter: sepia(100%);
}

.social-icon:hover {
  filter: none;
}

.social-media {
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .about-body {
    height: 60vh;
  }
  .social-icon {
    margin-top: 3vh;
  }
}

@media (max-width: 380px) {
  .about-body {
    height: 70vh;
  }
}
