.about {
  background: #000000;
  display: flex;
  padding: 100px 50px;
  overflow: hidden;
}

.about-title {
  color: #d0ee0f;
  margin-bottom: 20px;
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
}

.about-description,
.about-profile {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.about-profile {
  align-items: center;
  overflow: hidden;
}

.about-profile-container {
  width: 275px;
  height: 400px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 20px;
}

.about-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: grayscale(10%);
}

.about-description {
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  opacity: 0;
}

.about-description.show {
  opacity: 1;
}

.about-description-text {
  color: #ffffff;
}

.about-blue {
  color: #5599da;
}

.about-red {
  color: #ae0d12;
}

.about-yellow {
  color: #fabe00;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column-reverse;
    align-items: center;
    padding: 85px 35px;
    gap: 50px;
  }

  .about-description,
  .about-profile {
    width: 100%;
  }
  .about-description {
    h2,
    p {
      text-align: center;
    }
  }
}
