.main {
  background-image: url(https://i.imgur.com/4oHOotx.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-message {
  white-space: nowrap;
  color: white;
}

.main-row {
  height: 100vh;
  align-items: center;
}

.name {
  color: #d0ee0f;
}

.title {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-pic {
  width: 200px;
  height: 200px;
  filter: grayscale(10%);
}

.main-title {
  color: white;
  width: 100%;
}

.content {
  align-items: center;
}

@media (max-width: 768px) {
  .main {
    background-position-x: right;
  }
}
