.main {
  background-image: url(https://media.giphy.com/media/O43cBoyaVTQ8U5YxWn/giphy.gif);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main-content {
  display: flex;
  align-items: center;
  gap: 25px;
}

.main-profile-pic {
  width: 200px;
  height: 200px;
}

.main-message-container {
  white-space: nowrap;
  color: white;
  text-align: center;
}

.main-message {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.main-message h1,
h2 {
  margin: 0;
}

.main-name {
  color: #d0ee0f;
}

.main-message-shadow {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 5px;
}

.main-title {
  color: white;
  width: 100%;
}

@media (max-width: 768px) {
  .main {
    background-position-x: right;
  }

  .main-content {
    flex-direction: column;
  }

  .main-profile-pic {
    width: 150px;
    height: 150px;
  }

  .main-message h1 {
    font-size: 1.5em;
  }

  .main-message h2 {
    font-size: 1em;
  }
}
