.footer {
  height: 8vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart {
  color: red;
}

@media (max-width: 576px) {
  .footer {
    height: 10vh;
  }
  .footer-content {
    width: 70%;
  }
}
